.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px ;
    padding-right:50px ;
    padding-left: 50px;
    background-color: #1A2B48;
    .topbar-left{
        display: flex;
        .social{
           
            li{
                a{
                    padding: 0 18px 0 0;
                    color:#CACDD4;
                    font-size: 14px;
                }
            }
        }
        .item{
            li{
                padding: 0 0 0 18px;
                border-left: 1px solid #374969;
                a{
                    color: #fff;
                    font-size: 12px;
                    font-weight: 400;
                    font-family: 'Poppins', sans-serif;
                    &:hover{
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
    .topbar-right{
       ul{
           
           .link-item{
               padding: 0 18px;
               border-left: 1px solid #374969;
                   a{
                       color: #fff;
                       font-size: 12px;
                       font-weight: 400;
                       font-family: 'Poppins', sans-serif;
                       &:hover{
                        border-bottom: 1px solid #fff;
                    }
                    }
           }
           .link-items{
            padding: 0 18px;
            a{
                color: #fff;
                font-size: 12px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                &:hover{
                    border-bottom: 1px solid #fff;
                }  
            }
           }
           .dropdown{
               padding-left:18px ;
               border-left: 1px solid #374969;
               position: relative;
               .drip-menu{
                   position: absolute; 
                   right: 10px;
                   top: calc(100% + 5px);
                   border-radius: 10px;
                   background-color: #1A2B48 ;
                   border: 1px solid rgb(22, 21, 21);
                   text-align: center;
                   padding: 5px 0;
                   z-index: 1;
                   ul{
                       flex-wrap: wrap;
                   }
                   .drop{
                    padding: 5px 20px;
                    border-right: 2px solid#2E3D58;
                   
                       &:hover{
                           background-color:#233448 ;
                       }
                    a{
                        font-size: 12px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                        &:hover{
                            border-bottom: none;
                        }
                      }
                   }
               }
               i{
                   padding:0 5px;
                   font-size: 12px;
                   color: #CACDD4;
                   cursor: pointer;
               }
               a{
                   color: #fff;
                   font-size: 12px;
                   font-family: 'Poppins', sans-serif;
                   font-weight: 400;
                   &:hover{
                    border-bottom: 1px solid #fff;
                }
                }
           }
       }
    }
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 999;
    width: 450px;
    height: 530px;
    padding: 60px 32px;
    background: #fff;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    display: none;
    transition: .5s;
    header{
        color: rgb(31, 27, 27);
        font-size: 33px;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0 0 35px 0;
    }

}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(255,255,255,0.94);
    input{
        height: 100%;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: rgb(214, 202, 202);
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .show{
        position: absolute;
        right: 13px;
        font-size: 13px;
        cursor: pointer;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #222;
        display: none;
    }
    .password:valid ~ .show{
        display: block;
    }
}
.space{
    margin-top: 16px;
}
.pass{
    text-align: left;
    margin: 10px 0;
    a{
        color: rgb(24, 23, 23) !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
    }
    &:hover a{
        text-decoration: underline;
    }
}
input[type="submit"]{
    background: #3498db;
    border: 1px solid #2691d9;
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    &:hover{
        background:#2691d9;
    }
}
.login{
    color: rgb(36, 30, 30);
    margin: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.link{
    display: flex;
    cursor: pointer;
    color: rgb(36, 30, 30);
    margin: 0 0 20px 0;
    i{
        font-size: 16px;
        span{
            font-size: 14px;
            margin-left: 8px;
            letter-spacing: 1px;
            font-weight: 500;
            color: white;
        }
    }
}
.facebook,.instagram,.twitter{
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    margin-left:10px ;
    color: white;
}
.facebook{
    background: #4267b2;
    border: 1px solid #3e61a8;
}
.instagram{
    background: #e1306c;
    border: 1px solid #df2060;
}
.twitter{
    background:#03A9F4;
    border: 1px solid #03A9F4;
}
.signup{
    color: rgb(39, 33, 33);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    a{
        color: #3498db !important;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
#open{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
    padding: 5px;
    border-radius: 5px solid #fff;
    border: 1px solid #fff;
}
.close-button{
    cursor: pointer;
    background: rgb(233, 231, 231);
    #close{
        padding: 20px 25px;
    }
}
.side-menu{
    position: fixed;
    width: 350px;
    height: 100%;
    left:  -500px;
    top: 0;
    background: #fff;
    transition: .5s ease-in-out;
    z-index: 1;
}
.active-acc{
    left:  0;
}
.active-class{
    display: block;
}
.sub{
    display: none;
    transition: all 0.25s ease;
}
.accordion{
    width: 100%;
    margin: 30px auto 20px;
    background: #fff;
    .link{
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        color: #4d4d4d;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid rgb(233, 230, 230);
        position: relative;
        transition: all 0.4s ease;
    }
    li{
        &:last-child{
            .link{
                border-bottom: 0;
            }
        }
        i{
            position: absolute;
            right: 12px;
            left: auto;
            font-size: 16px;

        }
    }
}
.link{
   span{
    color:rgb(32, 36, 47) ;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
   }
   #active{
       color: #03A9F4;
   }
}
.submenu{
    position: static;
    background: #fff;
    font-size: 14px;
    
    header{
        border-left:2px solid rgb(82, 122, 231) ;
       
        font-size: 16px;
        padding:0 10px;
        margin: 10px 25px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: rgb(64, 64, 68);
    }
    li{
        border-top: 1px solid rgb(223, 214, 214);
        padding: 15px 25px;
       
        a{
            color: rgb(28, 30, 51);
            font-size: 14px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            padding: 15px 10px;
            transition: all 0.25s ease;
            &:hover{
                color: rgb(82, 122, 231);
            }
        }
    }
    .active{
        display: block;
    } 
}
.menu-bottom{
    background-image: url(https://mixmap.travelerwp.com/wp-content/uploads/2018/12/bg_hero_heading_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    position: relative;
   nav{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding:0 50px !important;
    .nav-menu{
        z-index: 1;
        ul{
            display: flex;
            .li{
                padding: 35px 20px;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
                .mega-box{
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    top: 100px;
                    background: #fff;
                    flex-wrap: nowrap;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 1;
                 .drip{
                     padding: 20px 15px;
                     header{
                         display:flex;
                         flex-wrap: nowrap;
                         width: 200px;
                         padding:0 10px ;
                         color: #2E3D58;
                         font-weight: 600;
                         font-family: 'Poppins', sans-serif;
                         margin: 15px 0;
                         border-left: 2px solid #5191FA;
                         text-transform: capitalize;
                     }
                     a{
                         display: flex;
                         width: 180px;
                         padding: 15px 0;
                         color: #2E3D58;
                         text-transform: capitalize;
                         border-top: 1px solid rgb(216, 216, 216);
                         font-weight: 600;
                         font-family: 'Poppins', sans-serif;
                         cursor: pointer;
                         transition: .3s ease;
                         &:hover{
                             color:#3498db ;
                         }
                     }
                 }
                  .img{
                    img{
                        width: 100px;
                    }
                  }
                    
                }
                .drop-menu{
                    visibility: hidden;
                    opacity: 0;
                    .drop-li{
                        z-index: 999;
                        a{   
                        display: block;
                        width: 180px;
                        padding: 15px 10px;
                        font-weight: 400;
                        border-top: 1px solid #ccc;
                        color: #283347;
                        font-weight:600;
                        text-transform: capitalize;
                        }
                    }
                    position: absolute;
                    flex-wrap: wrap;
                    background: #fff;
                    top: 100px;
                }
                a{
                   color: #fff; 
                   font-weight: 600;
                   font-family: 'Poppins', sans-serif;
                   transition: .5s;
                   i{
                    padding: 0 5px;
                    font-size: 12px;
                   }
                   &:hover{
                    color: #5082C7 !important;
                }
                }
                .active{
                    color: #5082C7 !important;
                }
                &:hover{
                    .drop-menu{
                        visibility: visible;
                        opacity: 1;
                        top: 80px;
                        transition: all 0.3s ease;
                    }
                }
                &:hover{
                    .mega-box{
                        visibility: visible;
                        opacity: 1;
                        top: 80px;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
    .nav-icon{
        ul{
            display: flex;
            li{
                padding:0 5px;
                a{
                    color: #fff;
                    background-color: #FA5636;
                    padding: 10px 20px;
                    border-radius: 5px;
                    font-weight: 400;
                    font-family: 'Poppins', sans-serif;
                    transition: .5s ease-in-out;
                    &:hover{
                        background-color: #d63f21;
                    }
                }
                i{
                    color: #fff;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
            .shop-btn{
                position: relative;
                padding: 0 15px;
                i{
                    font-size: 25px;
                }
                .shop{
                    position: absolute;
                    top: 30px;
                    flex-wrap: wrap;
                    right: 0;
                    top: 55px;
                    background: rgb(255, 255, 255);
                    .shop-li{
                        color: #263651;
                        background: none;
                        border-top: 1px solid #ccc;
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                        z-index: 1;
                        width: 230px; 
                        padding: 15px 15px;
                        cursor: pointer;
                        display: block;
                        .color{
                            color: #B5A383;
                        }
                    }
                    .active-li{
                        color: #B29F7E;
                        font-weight: 600;
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                        border-top: 1px solid#ccc;
                        padding: 15px 15px;
                    }
                }
            }
        }
    }
   }
}
.text-left{
    margin-bottom: 50px;
    h1{
        font-size: 34px;
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 0;
        font-weight: 500;
        color: #FFF;
    }
    p{
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }
}
#tabMenu{
    
    .btn{
       background: #1A2B48;
       color: #fff;
       font-size: 16px;
       font-weight: 400;
       font-family: 'Poppins', sans-serif;
    }
    .active{
        border-right: none;
        background-color: #1A2B48;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        outline: none;
        position: absolute;
        button{
            border: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
        }
    }
   .tab-content{
       border-radius: 10px;
    .tabs{
        display: none;
        background-color: #fff;
        .destination{
            display: flex;
            align-items: center;
            background-color: #fff;
            border-right: 1px solid #ccc;
            z-index: 1;
            i{
                color:#738089 !important ;
                padding: 0 10px !important;
                font-size: 20px;
            }
            .destination-text{
                ul{
                    padding: 20px 0;
                    li{
                        span{
                            color: #738089;
                            display: block;
                        }
                        .active-text{
                            color: #619BFA;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .active{
            border: none;
            button{
                position: absolute;
                text-align: center;
                background-color: #5191FA;
                outline: none;
            }
        }
        &:first-child{
            display: block;
        } 
    } 
   }
}
.form-button{
    .advance{
        ul{
            margin: 20px 60px 30px 10px;
            li{
                span{
                  color: #738089 ;
                  font-family: 'Poppins', sans-serif;
                }
                .active-text{
                    color: #619BFA;
                }
                i{
                    color:  #619BFA;
                    margin: 0 5px;
                }
            }
        }
    }
    .btn-search{
        position: absolute;
        background: #03A9F4;
        color: #fff;
        margin-left: 120px;
        margin-top: 25px;
        padding: 15px 25px;
        border-radius: 5px;
        display: block;
       
        font-family: 'Poppins', sans-serif;
    }
}
.travel-section{
    padding: 50px 0;
    .special{
        position: relative;
        .special-img{
            overflow: hidden;
            border-radius: 5px;
            img{
                transform: scale(1);
                transition: all.3s ease;
            }
        }
        .special-text{
            position: absolute;
            top: 25% !important;
            left: 50px;
            transition: all.2s ease;
            h2{
                top: 50% !important;
                color: #fff;
                margin-top: 60px;
                font-weight: 600;
                font-size: 35px;
                margin-bottom: 18px;
                font-family: 'Poppins', sans-serif;
            }
            p{
                color: #fff;
                font-size: 14px;
                line-height: 24px;
                padding-bottom: 75px;
                font-family: 'Poppins', sans-serif;
            }
            a{
                padding: 10px 15px;
                border: 1px solid #fff;
                border-radius: 5px;
                bottom: 20px;
                color: #fff;
                background: transparent;
                border-color: #fff;
                font-family: 'Poppins', sans-serif;
                transition: .5s ease;
                opacity: 0;
                &:hover{
                    background-color: #fff;
                    color: #0082CA;
                }
            }
        }
        .special-item{
            position: absolute;
            top: 50px !important;
            left: 50px;
            span{
             padding: 7px 20px;
             background: var(--orange-color, #FA5636);
             font-size: 14px;
             color: #FFF;
             border-radius: 3px;
             font-weight: 500;
             cursor: pointer;
             transition: all .5s ease;
             &:hover{
                 background: #e24c2e !important ;
             }
            }
        }
        &:hover{
            .special-img{
                img{
                    transform: scale(1.1) !important;
                }
               }
           .special-text{
            top: 15% !important;
           
            a{
                opacity: 1;
            }
           }
        }
    }
    .new{
        position: relative;
        .new-img{
            overflow: hidden;
            border-radius: 5px;
            img{
                transform: scale(1);
                transition: all .3s ease;
            }
        }
        .new-text{
            position: absolute;
            top: 15%;
            left: 20px;
            transition: all.3s ease;
            h2{
                top: 50% !important;
                color: #fff;
                margin-top: 60px;
                font-weight: 600;
                font-size: 35px;
                margin-bottom: 18px;
                font-family: 'Poppins', sans-serif;
            }
            p{
                color: #fff;
                font-size: 14px;
                line-height: 24px;
                padding-bottom: 75px;
                font-family: 'Poppins', sans-serif;
            }
            a{
                padding: 10px 15px;
                border: 1px solid #fff;
                border-radius: 5px;
                bottom: 20px;
                color: #fff;
                background: transparent;
                border-color: #fff;
                font-family: 'Poppins', sans-serif;
                transition: .5s ease;
                opacity: 0;
                &:hover{
                    background-color: #fff;
                    color: #0082CA;
                }
            }
        }
        &:hover{
            .new-img{
                img{
                    transform: scale(1.1) !important;
                }
               }
           .new-text{
            top: 5% !important;
            a{
                opacity: 1;
            }
           }
        }
    }
    .travel{
        position: relative;
        .travel-img{
            overflow: hidden;
            border-radius: 5px;
            img{
                transform: scale(1);
                transition: all .3s ease;
            }
        }
        .travel-icon{
            position: absolute;
            top: 35px;
            left: 20px;
        }
        .travel-text{
            position: absolute;
            top: 15%;
            left: 20px;
            transition: all.3s ease;
            h2{
                top: 50% !important;
                color: #fff;
                margin-top: 60px;
                font-weight: 600;
                font-size: 35px;
                margin-bottom: 18px;
                font-family: 'Poppins', sans-serif;
            }
            p{
                color: #fff;
                font-size: 14px;
                line-height: 24px;
                padding-bottom: 75px;
                font-family: 'Poppins', sans-serif;
            }
            a{
                padding: 10px 15px;
                border: 1px solid #fff;
                border-radius: 5px;
                bottom: 20px;
                color: #fff;
                background: transparent;
                border-color: #fff;
                font-family: 'Poppins', sans-serif;
                transition: .5s ease;
                opacity: 0;
                &:hover{
                    background-color: #fff;
                    color: #0082CA;
                }
            }
        }
        &:hover{
            .travel-img{
                img{
                    transform: scale(1.1) !important;
                }
               }
           .travel-text{
            top: 5% !important;
            a{
                opacity: 1;
            }
           }
        }
    }
}
.top-section{
    .top{
        position: relative;
        margin: 15px 0; 
        .top-img{
            overflow: hidden;
            border-radius: 5px;
            img{
                width: 100%;
                transform: scale(1);
                transition: .3s ease;
            }
        }
        .top-text{
            h2{
                color: #1A2B48 !important;
            }
        }
        .top-text{
            position: absolute;
            display: flex;
            flex-wrap: nowrap;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            h4{
                color: #fff;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                position: relative;
                &::after{
                    content:'';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background-color: #fff;
                    top: 35px;
                    left: 50%;
                    border-radius: 10px;
                    transition: .5s ease-in-out
                }
            }        
        }
        .top-item{
            position: absolute;
            bottom: 5px;
            opacity: 0;
            transition: .3s ease;
            a{
                color: #fff;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                padding:0 10px;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 5px;
                    top: 50%;
                    right:100%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
        }
        &:hover{
            .top-item{
                bottom: 15px;
                opacity: 1;
            }
            .top-img{
                img{
                    transform: scale(1.1);
                }
            }
            h4::after{
                left: 0;
                width: 100%;
            }
        }
    }
}
.trend-section{
    margin-bottom: 100px;
    .trend{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        .tour{
            position: relative;
            cursor: pointer;
            span{
                font-size: 28px;
                color: #5191FA;
                font-family: 'Poppins', sans-serif;
                padding: 0 10px;
            }
            i{
                color: #5191FA;
                font-size: 19px;
            }
            .tour-drop{
                position: absolute;
                z-index: 1;
                background-color: #fff;
                li{
                    border: 1px solid #dbdbdb;
                    padding: 12px 0;
                    span{
                        padding: 0 65px 0 15px;
                        font-size: 14px;
                        list-style: none;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                        color: #333;
                        transition: .2s ease-in-out;
                        &:hover{
                            color:  #5191FA;
                        }
                    }
                }
            }
        }
    }
    .featured-box{
        border: 1px solid #ccc;
        position: relative;
        border-radius: 5px;
        margin:0 10px;
        overflow: hidden;
        .discount{
            position: absolute;
            width: 80px;
            height: 48px;
            transform: rotate(45deg);
            right: -30px;
            top: -13px;
            line-height: 65px;
            text-align: center;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            background-color: #cc0033 ;
            font-size: 15px;
            z-index: 8;
        }
        .featured-img{
            overflow: hidden;
            img{
                width: 100%;
                transform: scale(1);
                transition: .5s ease-in-out;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        .featured-image{
            position: absolute;
            top: 170px;
            left: 80%;
            overflow: hidden;
            border: 1px solid #ccc;
            border-radius: 50%;
            img{
                transform: scale(1);
                transition: .2s ease-in-out;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        .featured{
            position: absolute;
            top: 15px;
            left: 0;
            cursor: pointer;
            span{
                color: #fff;
                background-color:#19A1E5;
                padding: 5px 5px;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }
        }
        .heart{
            position: absolute;
            top: 15px;
            right: 37px;
            i{
                color: #fff;
                font-size: 20px;
            }
        }
       .featured-icon{
           margin: 0 0 20px;
           padding: 0 15px;
           span{
               color: #6D7A83;
               font-size: 14px;
               font-family: 'Poppins', sans-serif;
           }
           i{
            color: #6D7A83;
            font-size: 14px;
           }
            h4{
               margin: 15px 0 2px;
                a{
                    color: #1A2B50;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .star{
                margin: 15px 0 0;
                padding: 0 0 5px;
                li{
                    i{
                        color: #FFDC00;
                        padding:0 2px ;
                    }
                }
                span{
                    color: #788092;
                    margin:  0 0 0 10px;
                    font-size: 13px;
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;
                }
            }
       }
       .featured-item{
        padding-left: 15px;
        padding-right: 15px;
        i{
            color: #8A959C;
            font-size: 14px;
            letter-spacing: 2px;
        }
        ul{
            .small{
                font-size: 14px;
                color: #cc0033 !important;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;
            }
            .large{
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                color: #1a2b48;
                font-weight: 600;
            }
        }
       }
    }
}
.slick-next::before{
    font-size: 30px;
    color: #222;
}
.slick-prev::before{
    font-size: 30px;
    color: #222;
}
.map-section{
    width: 100%;
}
.hotel-section{
    padding: 50px 0;
    h3{
        padding: 0 15px;
        border-left: 3px solid #2691d9;
        font-size: 16px;
    }
   .filter-box{
      
    .accordion{
        border: 1px solid rgb(221, 217, 217);
        border-radius: 5px;
        padding: 20px 30px;
        h6{
            display: flex;
            justify-content: space-between;
            span{
                color: #1A2B48;
                font-size: 16px;
                font-weight: bold;
                text-transform:capitalize;
            }
            i{
                color: #444;
            }
        }
    }
   }
    .sliderContainer{
        width: 75%;
        margin-top: 40px;
        .sliderRange{
            width: 120%;
            height: 20px;
            outline: none;
            transition: opacity 0.2s;
            -webkit-transition: 0.2s;
            border-radius: 12px;
           
            &::after{
                content: '$350,00';
                color: rgb(78, 29, 29);
                font-size: 14px;
                position: absolute;
                background-color: #03A9F4;
                left: 180px;
                border-radius: 5px;
                padding: 0 5px;
                font-family: 'Poppins', sans-serif;
                color: #fff;
                top: 5%;
            }
            &::before{
                content: '$0,00';
                color: rgb(78, 29, 29);
                font-size: 14px;
                position: absolute;
                font-family: 'Poppins', sans-serif;
                padding: 0 5px;
                background-color: #03A9F4;
                border-radius: 5px;
                left: 30px;
                color: #fff;
                top: 5%;
            }
        }
        p{
            color: rgb(172, 2, 25) !important;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
        }
       
    }
    .check{
        border: 1px solid rgb(230, 226, 226);
        padding: 15px 15px;
        border-radius: 5px;
       .check-acc{
        h4{
            font-size: 14px;
            color: var(--main-color, #1A2B48);
            float: left;
            line-height: 23px;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            font-weight: 600;
        }
       }
       form{
           padding: 20px 15px;
           label{
            color: #5E6DA3;
               padding: 0 5px;
               font-family: 'Poppins', sans-serif;
           }
       }
    }
    .faculty{
        border: 1px solid rgb(230, 226, 226);
        padding: 15px 15px;
        border-radius: 5px;
       .faculty-acc{
        h4{
            font-size: 14px;
            color: var(--main-color, #1A2B48);
            float: left;
            line-height: 23px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
        }
       }
       form{
           padding: 20px 15px;
           label{
            color: #5E6DA3;
            padding: 0 5px;
            font-family: 'Poppins', sans-serif;
        }
       }
    }
    .theme{
        border: 1px solid rgb(230, 226, 226);
        padding: 15px 15px;
        border-radius: 5px;
        margin-top: 10px;
       .theme-acc{
        h4{
            font-size: 14px;
            color: var(--main-color, #1A2B48);
            float: left;
            line-height: 23px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
        }
       }
       form{
           padding: 20px 15px;
           label{
            color: #5E6DA3;
            padding: 0 5px;
            font-family: 'Poppins', sans-serif;
        }
       }
    }
    .star{
        border: 1px solid rgb(230, 226, 226);
        padding: 15px 15px;
        border-radius: 5px;
        margin: 15px 0;
        .star-acc{
            h4{
                font-size: 14px;
                color: var(--main-color, #1A2B48);
                float: left;
                line-height: 23px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
            }
        }
        form{
            padding: 20px 15px;
            label{
                color: #5E6DA3;
                padding: 5px 5px;
                i{
                    color: #FA5636;
                    font-size: 12px;
                }
            }
        }
    }
    .hotel-top{
        padding: 0 0 25px;
        h4{
            font-size: 24px;
            color: #1a2b48;
            font-weight: 400;
        }
        .hotel-btn{
            button{
                position: relative;
                font-size: 14px;
                margin: 0 15px 0 0;
                background:none;
                color: #1a2b48;
                font-family: 'Poppins', sans-serif;
                outline: none;
                i{
                    font-size: 14px;
                    padding: 0 10px;
                }
            }
            i{
                font-size: 22px;
                padding: 0 5px;
            }
            .checkbox{
                position: absolute;
                border: 1px solid #444;
                border-radius: 5px;
                width: 150px;
                flex-wrap: wrap;
                z-index: 1;
                background-color: #fff;
                top: 25px;
                right: 10px;
                h3{
                    color: #1a2b48;
                    font-size: 14px;
                    margin-bottom: 7px;
                    display: block;
                    margin:10px 0 10px;
                }
                span{
                    color: #ADB2BD;
                    margin-bottom: 7px;
                    display: block;
                    margin-top: 10px;
                }
                li{
                   label{
                       position: relative;
                   }
                }
            }
        }
    }
        .hotel-box{
            position: relative;
            margin-top: 15px;
            overflow: hidden;
            .hotel-img{
                overflow: hidden;
                border-radius: 5px;
                img{
                    width: 100%;
                    transform: scale(1);
                    transition: .3s ease-in-out;
                }
                &:hover{
                   img{
                    transform: scale(1.1);
                   }
            }
            }
            .hotel-icon{
                position: absolute;
                top: 55%;
                left: 15px;
                i{
                    color: #FA5636;
                    font-size: 12px;
                }
            }
            .hotel-featured{
                position: absolute;
                top: 20px;
                span{
                    background-color: #19A1E5;
                    color: #fff;
                    padding: 5px 10px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                }
            }
            .hotel-heart{
                position: absolute;
                top: 20px;
                right: 30px;
                i{
                    color: #fff;
                    font-size: 20px;
                }
            }
            .hotel-map{
                h4{
                    margin: 15px 0 2px;
                     a{
                         color: #1A2B50;
                         font-size: 16px;
                         font-weight: 600;
                         font-family: 'Poppins', sans-serif;
                         &:hover{
                             text-decoration: underline;
                         }
                     }
                 }
                 span{
                    color: #6D7A83;
                    font-size: 14px;
                    font-family: 'Poppins', sans-serif;
                }
                i{
                 color: #6D7A83;
                 font-size: 14px;
                 padding: 0 5px 0 0;
                }
            }
            .hotel-text{
                color: #1a2b48;
                font-size: 13px;
                font-family: 'Poppins', sans-serif;
                margin: 15px 0 0;
                .good{
                    color: #5191fa;
                    font-size: 14px;
                    margin: 0 10px 0 0;
                }
                span{
                    color: #6a7a84;
                    font-size: 14px;
                    margin: 0 0 0 10px;
                }
            }
            .hotel-price{
                color: #1a2b48;
                font-size: 13px;
                font-family: 'Poppins', sans-serif;
                margin: 2px 0 0;
                span{
                    color: #5e6d77;
                    font-size: 12px;
                }
                .money{
                    color: #1a2b50;
                    font-size: 16px;
                    font-family: 'Poppins', sans-serif;
                    margin: 0 5px;
                    font-weight: bold;
                }
                i{
                    color: #FFAB53;
                    padding: 0 5px 0 0;
                }
            }
          
        }
    
}
footer{
    .contact{
        padding-top: 65px;
        padding-bottom: 40px;
        background-color:#F5F5F5;
        .letter{
            .letter-img{
                img{
                    padding: 0 15px;
                }
            }
          .letter-text{
            h4{
                font-size: 24px !important;
                margin:0 0 5px;
                font-weight: 500;
                line-height: 1.1;
                color: #1a2b48;
            }
            p{
                font-family: "Poppins", sans-serif !important;
                font-weight: normal;
                line-height: 1.5;
            }
          }
        }
        .email{
            #email{
                padding:30px 15px;
                box-shadow: none;
                &::placeholder{
                    color: #99A6C4;
                    font-size: 14px;
                    font-family: "Poppins", sans-serif !important;
                }
            }
            #subscribe{
                padding: 0 15px;
                border-top-right-radius:5px;
                border-bottom-right-radius: 5px;
                font-family: "Poppins", sans-serif !important;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}
.company-box{
    padding: 80px 0;
    .company{
        padding: 0 15px;
        .company-item{
            padding: 0 0 25px;
            h4{
                color: #1a2b48;
                font-size: 14px;
                margin: 10px 105px 0 0;
                font-family: "Poppins", sans-serif !important;
                font-weight: bold;
                padding: 0 0 25px;
                border-bottom: 1px solid #dfe8ee;
            }
        }
        .company-text{
            margin: 0 0 35px;
            padding: 0 0 0 20px;
            border-left: 3px solid #5191FA;
            p{
                color: #5e6d77;
                font-size: 13px;
                font-family: "Poppins", sans-serif !important;
            }
            h4{
                color: #1a2b48;
                font-size: 22px;
                font-weight: bold;
                font-family: "Poppins", sans-serif !important;
                margin: 10px 0 0 ;
            }
            ul{
                li{
                   padding: 0 15px;
                   font-size: 20px;
                   color:#A0A9B2 ;
                }
            }
            .about{
                li{
                    a{
                        color: #1a2b48;
                        font-size: 14px;
                        font-weight: 600;
                        font-family: "Poppins", sans-serif !important;
                        margin: 0 0 30px;
                        display: block;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            p{
                color: #5e6d77;
                font-size: 14px;
                font-family: "Poppins", sans-serif !important;
                margin: 0 0 5px;
            }
            .box{
                position: relative;
                border: 1px solid #ccc;
                padding: 10px 10px;
                border-radius: 5px;
                cursor: pointer;
                a{
                    width: 80px;
                    color: #1a2b48;
                    font-size: 14px;
                    font-family: "Poppins", sans-serif !important;
                    font-weight: bold;
                }
                i{
                    padding: 0 0 0 60px;
                }
                .curren{
                    position: absolute;
                    top: 45px;
                    width: 225px;
                    right: 0;
                    border: 1px solid #ccc;
                    background-color: #fff;
                    li{
                        &:hover{
                            background-color: #03A9F4;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.copy{
    padding: 30px 0;
    border-top: 1px solid  #dfe8ee;
    span{
        font-size: 14px;
        color: #1a2b48;
        font-weight: 500;
    }
    a{
        font-family: "Poppins", sans-serif !important;
        color: #03A9F4;
        &:hover{
            text-decoration: underline;
        }
    }
}
@media (max-width:1298px){
    .become{
        display: none;
    }
}
@media (max-width:1092px){
    .nav-menu{
        display: none;
    }
    #open{
        display: block;
        margin-top: 10px;
    }
    .shop-btn{
        i{
        margin-top:15px !important ;

        }
    }
    #tabMenu{
        width: 100%;
        margin-bottom: 60px;
        .destination{
            border-bottom: 1px solid #ccc;
        }
        .btn-search{
            position: absolute;
            justify-content: flex-end;
            right: 15px !important;
            display: block;
            a{
                padding: 10px 10px !important;
            }
        }
        .btn{
            font-size: 12px;
        }
    }
}

@media (max-width:992px){
    .nav-menu{
        display: none;
    }
}
@media (max-width:992px){
    .item{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .link-item{
        padding: 0 10px 0 0!important;
        border-left: none !important;
    }
    .text-left{
        top: 25%;
        h1{
            font-size: 25px;
        }
    }
    .nav-menu{
        li{
            font-size: 10px;
            padding:0 5px;
            i{
                display: none;
            }
        }
    }
}
@media (max-width: 768px){
    .link-items{
        display: none;
    }
    .social{
        li{
            a{
                i{
                    font-size: 18px;
                }
            }
        }
    }
}