*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
   
    box-shadow: inset 0 0 2.5px 2px rgba(116, 113, 113, 0.5);
}
::-webkit-scrollbar-thumb{
    background-color:#1A2B48;
    border-radius: 30px;
}
@import "index";
@import "search";
@import "contact";